.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

# Ignore the publication template
publication_template
publication_template.*
instructions_new_publication
instructions_new_publication.*