/* css styles */

.justify-text {
  text-align: justify;
}


main.content .quarto-categories {
  display: none;
}

div.quarto-post .listing-categories .listing-category {
  visibility: hidden;
  display: inline-block;
  font-size: 0; 
  margin-right: 0.5rem;
}

div.quarto-post .listing-categories .listing-category a {
  visibility: visible;
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.65rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #6c757d; 
  border: 1px solid #6c757d;
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
  font-family: var(--bs-body-font-family);  
  line-height: 1.25;
  height: auto;
  width: auto;
  margin-right: -6px;
margin-bottom: 4px;
}

div.quarto-post .listing-categories .listing-category a:hover {
  background-color: rgba(255, 255, 255, 0.05); 
  border: 1px solid #00bc8c;
  color: #00bc8c;
  text-decoration: none;
}

.listing-title {
  font-size: 1.1rem;     
  font-weight: 600;
  line-height: 1.4;
}

a.link-dark,
a.link-dark:visited,
a.link-dark:focus,
a.link-dark:active {
  text-decoration: none;
  color: var(--bs-body-color); 
}

a.link-dark:hover {
  color: #00bc8c;               
}


.forthcoming .listing-date {
  display: none;
}

.category-filter-item:has(a[href*="PDF"]) {
  display: none !important;
}

.quarto-listing-category .category a{
  visibility: hidden;
}

.quarto-listing-category a > span {
  visibility: hidden;
}

.category-filter-item:has(span:contains("PDF")),
.category-filter-item:has(span:contains("Journal")) {
  display: none;
}

div.category[data-category*="<a"] {
  display: none;
}


/* Increase width of sidebar filter panel */
#quarto-content.page-columns #quarto-margin-sidebar, #quarto-content.page-columns #quarto-sidebar {
  width: 300px;
}